{% extends "base.html" %}

{% block title %}Data View{% endblock %}

{% block content %}

  <div class="jumbotron container">
    <h2>Please choose what table you would like rendered.</h2>
    <div class="form-group">
      <form method="GET" action="/db">

        <label for="tableSelect">Select View:</label>
        <select class="form-control" id="tableSelect" name="table" required>
          <option disabled selected value> -- select an option -- </option>
          {% for table_name in table_names %}

            <option value="{{ table_name }}">{{ table_name }}</option>

          {% endfor %}
        </select>
        <input class="btn-primary" type="submit" value="Query">
      </form>
    </div>
  </div>

  {% block table_block %}{% endblock %}

{% endblock %}
