{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>DESIGNERS NEEDED, APPLY NOW11!</h1>
    <p> What words have been produced from your vocal cords and have protruded from your mouth, you small, insignificant weakling?
        I will force upon your brain the knowledge that I have graduated as the best pupil of my fellow group of graduating pupils
        for the Navy Seals and have been one of those soldiers who have participated in several raids on a terrorist group, known
        as Al-Qaeda and I have many known and confirmed kills, 300 to be exact. I am trained in a special type of warfare called
        gorilla warfare and I can boast about the fact that I am the best, most skilled sniper throughout all branches of the United
        States armed forces composed of both military men and women, the former of which possess XY chromosomes and the latter of
        which possess XX chromosomes. You are insignificant. So insignificant, in fact, that it will be very easy to eliminate you
        with precision and elegance such that not one human who has ever existed has known about its likeness. Take these words to
        heart and you will do well to remember them. Do you really and truly believe you can escape any sets of unfortunate events
        called consequences that may befall you if you post a message such as this on this large network of networks, also called
        the Internet? Please rethink your opinions, member of the homo sapien species possessing 23 pairs of chromosomes for each
        of the trillions of cells inside your body. As the two of us converse with each other, I am keeping in touch with my secret
        network of spies across the entire United States and a number assigned to all computing devices which is of importance and
        essentiality to any such type of computing device, which has the potential to connect to the aforementioned network of networks,
        called an Internet Protocol (IP) address, is presently being traced, the IP that belongs to the device from which you posted
        this comment specifically, so you had better prepare for the extreme consequences that will befall you. These consequences
        will be so severe, in fact, that your insignificant and laughable existence will be eliminated from this universe. You are
        naught but a dead man to me, child. I can be present wherever I please, whenever I please and I can wipe out your existence
        in excess of seven hundred ways with no more than my unaided hands. Not only am I trained extensively and extremely excessively
        in unassisted combat, I also have personal permission and access to put to use the entire arsenal of the branch of military
        that carries out amphibious warfare better known as the United States Marine Corps and I will use it to its full and complete
        potential to exterminate your body from the continent of North America, you puny human. If you only had prior knowledge as
        to what sorts of terrible, inhumane consequences your “clever” piece of text known as a comment was about to bestow upon
        you, only then might you have prevented those words from protruding from your mouth. However, it appears as though you never
        possessed the ability to do such actions, you never did such actions, and you are now suffering all the consequences associated
        with saying such things to me, you idiotic and senseless human. I will present to you extensive anger and it will be so much
        anger that it will be impossible for you to survive it. You are naught but a dead man to me, child.</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/antonwnk /python-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<script>
  //let colors = ['#8b0b9c', '#0a1e8f', '#12a838'];
  //let active = 0;
  setInterval(function(){
      $('.lang-logo').css('background', '#'+(Math.random()*0x5FFFFF<<0).toString(16));
    //  active++;
    //  if (active == colors.length) active = 0;
  }, 1000);
</script>
{% endblock %}
