{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Welcome to the web-app of your store.</h1>
    <p> You can visualize the most important information from your Database with just a few clicks! </p>
  </div>
</div>
<script>
  //let colors = ['#8b0b9c', '#0a1e8f', '#12a838'];
  //let active = 0;
  setInterval(function(){
      $('.lang-logo').css('background', '#'+(Math.random()*0x5FFFFF<<0).toString(16));
    //  active++;
    //  if (active == colors.length) active = 0;
  }, 1000);
</script>
{% endblock %}
